<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="contact-list">
          <span class="p-name">{{ site.title | escape }}</span><br>
          {{ site.author }}<br>
          <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
      </div>
      <div class="footer-col footer-about">
        <img src="{{ '/Figures/33108113860_c247cf2e65_b.jpg' | relative_url }}" alt="Road quote image" width="140" loading="lazy">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
